.genre-wrapper {
  padding: 2rem;
  background-color: #111;
  color: #eee;
}

.genre-section {
  margin-bottom: 3rem;
}

.genre-label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.genre-label {
  font-size: 1.1rem;
  color: #ccc;
  font-weight: 500;
  padding-left: 0.3rem;
}
