.title {
  display: flex;
  align-items: center;
  padding: 1px;
  width: 100%;
}

.title > h2 {
  justify-content: center;
}

.title > p {
  justify-content: flex-end;
  cursor: pointer;
  margin-right: 10px;
}

.title > input {
  width: 200px;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 10px 0px;
}

.title > input:focus {
  outline: none;
}

hr {
  height: 2px;
  background-color: black;
  margin: 1px;
}
